.App_Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
  /* background-color: lightgray; */
  /* border: 2px solid black; */
  height: 100vh;
  width: auto;
}

.Roster_Card {
  border-radius: 20px;
  background-color: #CE1141;
  border: 10px solid #13274f;
  height: 90vh;
  width: 25vw;
}